.container{
    display: flex;
    margin: .25em auto;
    text-align: center;
    justify-content: center;
    background-color: #f0f8ff;
    color: black;
    font-size: 10em;
    border: 5px solid red;



}