.container{
    display: grid;
    margin: .5em auto;
    text-align: center;
    justify-content: center;
    background-color: #f0f8ff;
    color: black;
    font-size: 1em;
    border: 3px solid rgb(130, 151, 168);
}